# 忽略dp目录下的语法检查
dp
# 忽略src/assets目录下文件的语法检查
src/assets
# 忽略地图目录的语法检查
src/common/mapTool
# 忽略public目录下文件的语法检查
/build/
public
ms-config-server
mockServe
mockData
node_modules
output.js
proxy.config.js
vue.config.js
*.md
*.scss
*.woff
*.ttf
*.json
